.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

.counter {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.counter button {
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
}
